.suspended .node-label {
  font-style: italic;
  text-decoration: line-through;
}

.dropdown-content {
  max-height: 400px;
  overflow-y: auto;
}

.node .fa {
  font-size: 12px;
  margin-left: 4px;
  cursor: pointer;
}

.node .fa-ban {
  color: darkorange;
}

.expansionPanel .node-label {
  display: block;
}

.expansionPanel > label {
  display: flex;
  align-items: center;
}

.infinite-scroll-component .expansionPanel {
  padding: 10px;
  margin: 0;
}

.expansionPanel.node {
  box-shadow: none;
}

.expansionPanel.node:before {
  display: none;
}

.expansionPanel.node > div:first-child {
  position: relative;
}

.expansionPanel.node > div:first-child:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
}
